@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family:  Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    background-image: url("../img/fundo-madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url("../img/frame-iphone.png");
    background-repeat: no-repeat;

}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-right: 15px;
}

section#redes-sociais img {
    text-decoration: none;
    width: 50px;
    margin: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 50%;

    box-sizing: border-box;
    transition: transform .4s, border .2s;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    transform: translate(-7px);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

section#redes-sociais img:active {
    transform: translate(-7px, 6px);
    
}

section#redes-sociais #meu-projeto {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font: normal normal .8em Arial, sans-serif;
}