@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family:  Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    background-image: url("../img/fundo-madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url("../img/frame-iphone.png");
    background-repeat: no-repeat;

}